* {
  box-sizing: border-box;
  margin: 0;
  background-color: #191765;
}

body {
  font-family: "Roboto", sans-serif;
}

#top-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: 48px;
  margin-top: 60px;
}

.name {
  color: #fff;
  text-decoration: none;
}

.fa {
  color: #fff;
}

.text {
  color: #fff;
  text-decoration: none;
}

.profile {
  padding-left: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
}

#side-nav {
  width: 33.333%;
  display: flex;
  justify-content: flex-end;
  color: #fff;
  padding-right: 40px;
}

.fa-bars {
  font-size: 30px;
  width: 33.33%;
}

.header h1 {
  text-align: center;
  font-weight: 700;
  color: #7d73fc;
  line-height: 72px;
  padding-top: 50px;
}

.header h2 {
  text-align: center;
  font-weight: 500;
  color: #edecff;
  line-height: 44px;
  text-size-adjust: 32px;
  padding-top: 67;
}

.header p {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 30px;
  font-weight: 400;
  color: #c8c8d4;
  margin-top: 15px;
  padding-left: 24px;
  padding-right: 24px;
  line-height: 30px;
}

.languages li:first-child {
  color: #9490ff;
  margin-bottom: 10px;
}

.frameworks li:first-child {
  color: #9490ff;
  margin-bottom: 10px;
}

.skills li:first-child {
  color: #9490ff;
  margin-bottom: 10px;
}

.languages {
  list-style: none;
  text-align: center;
}

.frameworks {
  list-style: none;
  text-align: center;
}

.skills {
  list-style: none;
}

.portfolio {
  display: none;
}

.about {
  display: none;
}

.contact {
  display: none;
}

.mail {
  display: none;
}

.abilities-1 {
  display: flex;
  justify-content: space-around;
  color: #fff;
  margin-top: 50px;
  margin-bottom: 20px;
  line-height: 40px;
}

.abilities-2 {
  display: flex;
  justify-content: flex-start;
  color: #fff;
  margin-top: 50px;
  margin-bottom: 20px;
  line-height: 40px;
}

.fa-github {
  font-size: 30px;
}

.fa-linkedin {
  font-size: 30px;
}

.fa-angellist {
  font-size: 30px;
}

.fa-twitter {
  font-size: 30px;
}

.fa-medium {
  font-size: 30px;
}

.icon-bar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 20px;
  gap: 40px;
}

.footer {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

.fa-arrow-down {
  color: #a2a3ae;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2px;
}
