body {
  position: relative;
  width: 375px;
  height: 5415px;
  background-color: #191765;
  font-family: "Roboto", sans-serif;
}

#top-navigation {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 44px;
  margin-top: 60px;
  height: 48px;
  width: 375px;
}

.name {
  color: #fff;
  text-decoration: none;
  display: flex;
  padding: 10px, 12px, 10px, 12px;
  height: 16px;
  top: calc(50% - 36px / 2);
  letter-spacing: 3%;
  width: 128px;
  font-weight: 500;
  font-size: 18px;
}

.fa-bars {
  font-size: 30px;
  width: 33.33%;
  height: 22.83px;
  left: 7.33px;
  top: 13.58px;
  text-align: end;
}

.fa {
  color: #fff;
}

.text {
  color: #fff;
  text-decoration: none;
}

.profile {
  padding-left: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
}

#side-nav {
  width: 33.333%;
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
}

.header h1 {
  text-align: center;
  font-weight: 700;
  color: #7d73fc;
  line-height: 72px;
  padding-top: 50px;
  width: 327px;
  height: 55px;
  font-style: normal;
  font-size: 150%;
  padding-left: 24px;
  letter-spacing: 2px;
}

.header h2 {
  text-align: center;
  font-weight: 500;
  color: #edecff;
  line-height: 44px;
  width: 327px;
  height: 87px;
  font-style: normal;
  font-size: 32px;
  display: flex;
  justify-content: center;
  padding-left: 24px;
}

.header p {
  display: block;
  text-align: center;
  font-weight: 400;
  color: #c8c8d4;
  margin-top: 15px;
  padding-left: 24px;
  padding-right: 24px;
  width: 327px;
  height: 170px;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
}

.abilities-1 {
  display: flex;
  justify-content: space-around;
  color: #fff;
  line-height: 40px;
  align-items: flex-start;
  gap: 24px;
  width: 275px;
  height: 214.15px;
}

.languages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 123px;
  height: 167.33px;
}

.frameworks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  height: 167.33px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  height: 167.33px;
}

.abilities-2 {
  display: flex;
  justify-content: flex-start;
  color: #fff;
  line-height: 40px;
  align-items: flex-start;
  gap: 24px;
  width: 303px;
}

.socials li {
  padding: 4px;
  width: 10px;
  height: 40px;
  list-style: none;
  align-items: center;
}

.languages li {
  list-style: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.frameworks li {
  list-style: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.skills li {
  list-style: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.tags li {
  width: 25px;
  height: 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.languages li:first-child {
  color: #9490ff;
  margin-bottom: 10px;
  height: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
}

.frameworks li:first-child {
  color: #9490ff;
  margin-bottom: 10px;
  width: 107px;
  height: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
}

.skills li:first-child {
  color: #9490ff;
  margin-bottom: 10px;
  width: 107px;
  height: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
}

.portfolio {
  display: none;
}

.about {
  display: none;
}

.contact {
  display: none;
}

.mail {
  display: none;
}

.icon-bar ul {
  display: flex;
  justify-content: center;
  width: 325px;
  height: 40px;
  list-style: none;
  margin-top: 40px;
  margin-bottom: 20px;
  gap: 40px;
  padding-left: 24px;
}

.footer {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

.fa-arrow-down {
  color: #a2a3ae;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2px;
}

.recent-works h1 {
  height: 104px;
  font-weight: 500;
  font-size: 40px;
  font-style: normal;
  color: #9490ff;
  line-height: 130%;
  display: flex;
  align-items: center;
  padding-left: 24px;
}

hr {
  position: absolute;
  top: calc(50% - 0px / 2 + 0.5px);
  border: 1px solid #646369;
}

.featured-image {
  display: grid;
  grid-column-start: auto;
  padding: 24px;
  gap: 24px;
  height: 729px;
}

.image {
  width: 327px;
  height: 236px;
  background-image: linear-gradient(0deg, #f9f9f9, #f9f9f9),
    url(image_processing20200716-21735-f07s4k.png);
  align-items: center;
}

.right-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  height: 469px;
}

.right-block h2 {
  height: 105px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
}

.right-block p {
  width: 327px;
  height: 204px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #dcdce8;
}

.tags {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  padding: 10px 12px;
  width: 325px;
  height: 40px;
  color: #fff;
  list-style: none;
}

.button-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 12px;
  bottom: 12px;
  gap: 10px;
  width: 89px;
  height: 48px;
  background: #7d73fc;
}

.button-text {
  width: 65px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #edecff;
  list-style: none;
}
